In [2]:
import os, re, sys, json, pandas, getpass
from Haversine.haversine import Waypoints, Routes 

password = getpass.getpass()

········

In [3]:
waypoints = Waypoints()
waypoints.username = 'eddo888'
waypoints.password = password

In [4]:
wp = pandas.DataFrame.from_dict(waypoints.list())
wp

         id                             description  ...   longitude  elevation
0      0MTB                                Mt Blanc  ...    6.865575        0.0
1      0A51                                 Area 51  ... -115.808333        0.0
2      0PYR                  Pyramids of Giza Egypt  ...   31.135379        0.0
3      0FRA                                    Home  ...  151.159164        0.0
4      0LND                               London UK  ...   -0.241678        0.0
..      ...                                     ...  ...         ...        ...
207   0NK77     Niagara Falls Memorial Parking Ramp  ...  -79.051111      694.0
208  0WPACC               Westpac Broadbeach Waters  ...  153.362500       10.0
209   0NV34  University Medical Center South Navada  ... -115.168056     2076.0
210   0NV53          Valley Hospital Medical Center  ... -115.168056     2076.0
211    0CFC                    China Forbidden City  ...  116.397066        0.0

[212 rows x 5 columns]

In [5]:
routes = Routes()
routes.username = 'eddo888'
routes.password = password

In [6]:
for route in routes.list():
    print(route['name'])

EGLL-LFPG
NZAA-NZCH
KEDW-KNKX
KEDW-KSFO
LIRN-LMML
KNKX-KEDW
KOPF-KTTS
YDBY-YPPH
LIRA-LFKJ
KLAX-KEDW
YSSY-YJBY
OMAA-OTHH
ZBAD-VHHH
YPDN-YDBY
RJAA-RJOO
LIRI-LICR
KEDW-KLAX
MTCH-MTPP
YSSY-YPAD
PHKO-PHNL
LIRA-LIPZ
YBBN-YBCS
KBOS-CYUL
MPMG-MPMG
LIRA-LIRQ
LFPG-EGLL
KRAL-KFFZ
YBCS-YPDN
PGWT-RJOA
YPPH-YPAD
KLFI-KDCA
KRAL-KSFO
OMAA-YSSY
YMHB-YMML
KRAL-KSEA
KTTS-KPBI
EGPH-EIDW
LIRN-LIRA
RPLL-RJAA
YPAD-YMML
HEPS-HECA
KPSP-KPSP
KSFO-KLAX
YSCB-YSSY
YSCB-YMML
HKMO-HKJK
KLAX-KSFO
HECA-OMDB
KLAX-KSEA
KJFK-KIAD
LPPT-LEPA
VGBR-VQPR
KRAL-KLPC
CYYC-CYEG
KLPC-KRAL
KBFI-KSFO
YBBN-YMML
YBBN-YSSY
YBBN-YAYE
KSEA-KRAL
KIAD-KTTS
KSFO-KRAL
KJFK-KDCA
LEMD-LEBL
YSSY-YBBN
KSFO-KSEA
EGLL-EGPH
YPAD-YMHB
KJFK-KAFJ
BIVM-BIBA
YMML-YMHB
LGAV-HECA
WSSS-WMKK
UUEE-ULLI
NZCH-NZQN
WSSL-WSSS
YMHB-YSSY
LGAV-LICC
YSSY-KLAX
YMML-YSSY
LIRF-LTFM
LIRA-LGAV
YSSY-YSCB
YSSY-YMML 2022-03-23 QF405
YMML-YSSY 2022-03-23 QF486

In [7]:
route = routes.get('EGLL-LFPG')
df = pandas.DataFrame.from_dict(route['points'])
df

       id type   latitude  longitude  elevation
0    EGLL  APT  51.477500  -0.461389       83.0
1   RW09L   RW  51.477500  -0.484992       83.0
2   D111B  FIX  51.478119  -0.429425      832.0
3   D125D  FIX  51.453778  -0.390278     1579.0
4   D026T  FIX  51.352967  -0.391919     3761.0
5     MAY  VOR  51.017183   0.116122    10000.0
6   BIBAX  FIX  50.057500   1.008056    10000.0
7   MOPAR  FIX  49.291722   1.757278    10000.0
8   PG527  FIX  49.169889   1.839500    10000.0
9   CF08R  FIX  48.969333   2.139722     6601.0
10  RW08L   RW  48.995686   2.552744      704.0
11   LFPG  APT  49.009722   2.547778      392.0

In [8]:
name='YMML-YSSY 2022-03-23 QF486'
if routes.get(name):
    routes.delete(name)
    
route = dict(
    name=name,
    origin='YSSY',
    destination='YMML',
    path='DOSEL Y59 RIVET'
)

with open(f'{name}.json', 'w') as output:
    json.dump(route, output, indent='\t')
    
result = routes.create(f'{name}.json')

df = pandas.DataFrame.from_dict(result['route']['points'])
df

      id type   latitude   longitude  elevation
0   YSSY  APT -33.946000  151.177111       21.0
1  DOSEL  FIX -37.165111  145.395306        NaN
2  EBONY  FIX -36.182367  147.070631        NaN
3  ARRAN  FIX -35.837556  147.639389        NaN
4  NONUP  FIX -35.430581  148.298844        NaN
5  CULIN  FIX -34.740000  149.390000        NaN
6  TARAL  FIX -34.501833  149.933472        NaN
7  RIVET  FIX -34.280750  150.430306        NaN
8   YMML  APT -37.673333  144.843333      434.0