In [22]:
import os, re, sys, json, pandas
from Haversine.haversine import Waypoints, Routes

waypoints = Waypoints()
routes = Routes()

In [23]:
wp = pandas.DataFrame.from_dict(waypoints.list())
wp

,id,description,latitude,longitude,elevation
0,0MTB,Mt Blanc,45.832119,6.865575,0.0
1,0A51,Area 51,37.233333,-115.808333,0.0
2,0PYR,Pyramids of Giza Egypt,29.975273,31.135379,0.0
3,0FRA,Home,-33.911110,151.159164,0.0
4,0LND,London UK,51.528558,-0.241678,0.0
...,...,...,...,...,...
207,0NK80,Niagara Falls Rainbow Heliport,43.089444,-79.062778,642.0
208,0NK77,Niagara Falls Memorial Parking Ramp,43.093889,-79.051111,694.0
209,0WPACC,Westpac Broadbeach Waters,-28.003333,153.362500,10.0
210,0NV34,University Medical Center South Navada,36.160833,-115.168056,2076.0
211,0NV53,Valley Hospital Medical Center,36.162778,-115.168056,2076.0

In [24]:
for route in routes.list():
    print(route['name'])

EGLL-LFPG

In [25]:
route = routes.get('EGLL-LFPG')
df = pandas.DataFrame.from_dict(route['points'])
df

       id type   latitude  longitude  elevation
0    EGLL  APT  51.477500  -0.461389       83.0
1   RW09L   RW  51.477500  -0.484992       83.0
2   D111B  FIX  51.478119  -0.429425      832.0
3   D125D  FIX  51.453778  -0.390278     1579.0
4   D026T  FIX  51.352967  -0.391919     3761.0
5     MAY  VOR  51.017183   0.116122    10000.0
6   BIBAX  FIX  50.057500   1.008056    10000.0
7   MOPAR  FIX  49.291722   1.757278    10000.0
8   PG527  FIX  49.169889   1.839500    10000.0
9   CF08R  FIX  48.969333   2.139722     6601.0
10  RW08L   RW  48.995686   2.552744      704.0
11   LFPG  APT  49.009722   2.547778      392.0