In [1]:
import os, re, sys, json, pandas, getpass
from Haversine.haversine import Waypoints, Routes

waypoints = Waypoints()
waypoints.username = 'eddo888'
waypoints.password = getpass.getpass()

········

In [2]:
wp = pandas.DataFrame.from_dict(waypoints.list())
wp

,id,description,latitude,longitude,elevation
0,0MTB,Mt Blanc,45.832119,6.865575,0.0
1,0A51,Area 51,37.233333,-115.808333,0.0
2,0PYR,Pyramids of Giza Egypt,29.975273,31.135379,0.0
3,0FRA,Home,-33.911110,151.159164,0.0
4,0LND,London UK,51.528558,-0.241678,0.0
...,...,...,...,...,...
207,0NK77,Niagara Falls Memorial Parking Ramp,43.093889,-79.051111,694.0
208,0WPACC,Westpac Broadbeach Waters,-28.003333,153.362500,10.0
209,0NV34,University Medical Center South Navada,36.160833,-115.168056,2076.0
210,0NV53,Valley Hospital Medical Center,36.162778,-115.168056,2076.0
211,0CFC,China Forbidden City,39.917775,116.397066,0.0

In [3]:
routes = Routes()
routes.username = 'eddo888'
routes.password = getpass.getpass()

········

In [4]:
for route in routes.list():
    print(route['name'])

EGLL-LFPG
NZAA-NZCH
KEDW-KNKX
KEDW-KSFO
LIRN-LMML
KNKX-KEDW
KOPF-KTTS
YDBY-YPPH
LIRA-LFKJ
KLAX-KEDW
YSSY-YJBY
OMAA-OTHH
ZBAD-VHHH
YPDN-YDBY
RJAA-RJOO
LIRI-LICR
KEDW-KLAX
MTCH-MTPP
YSSY-YPAD
PHKO-PHNL
LIRA-LIPZ
YBBN-YBCS
KBOS-CYUL
MPMG-MPMG
LIRA-LIRQ
LFPG-EGLL
KRAL-KFFZ
YBCS-YPDN
PGWT-RJOA
YPPH-YPAD
KLFI-KDCA
KRAL-KSFO
OMAA-YSSY
YMHB-YMML
KRAL-KSEA
KTTS-KPBI
EGPH-EIDW
LIRN-LIRA
RPLL-RJAA
YPAD-YMML
HEPS-HECA
KPSP-KPSP
KSFO-KLAX
YSCB-YSSY
YSCB-YMML
HKMO-HKJK
KLAX-KSFO
HECA-OMDB
KLAX-KSEA
KJFK-KIAD
LPPT-LEPA
VGBR-VQPR
KRAL-KLPC
CYYC-CYEG
KLPC-KRAL
KBFI-KSFO
YBBN-YMML
YBBN-YSSY
YBBN-YAYE
KSEA-KRAL
KIAD-KTTS
KSFO-KRAL
KJFK-KDCA
LEMD-LEBL
YSSY-YBBN
KSFO-KSEA
EGLL-EGPH
YPAD-YMHB
KJFK-KAFJ
BIVM-BIBA
YMML-YMHB
LGAV-HECA
WSSS-WMKK
UUEE-ULLI
NZCH-NZQN
WSSL-WSSS
YMHB-YSSY
LGAV-LICC
YSSY-KLAX
YMML-YSSY
LIRF-LTFM
LIRA-LGAV
YSSY-YSCB

In [5]:
route = routes.get('EGLL-LFPG')
df = pandas.DataFrame.from_dict(route['points'])
df

       id type   latitude  longitude  elevation
0    EGLL  APT  51.477500  -0.461389       83.0
1   RW09L   RW  51.477500  -0.484992       83.0
2   D111B  FIX  51.478119  -0.429425      832.0
3   D125D  FIX  51.453778  -0.390278     1579.0
4   D026T  FIX  51.352967  -0.391919     3761.0
5     MAY  VOR  51.017183   0.116122    10000.0
6   BIBAX  FIX  50.057500   1.008056    10000.0
7   MOPAR  FIX  49.291722   1.757278    10000.0
8   PG527  FIX  49.169889   1.839500    10000.0
9   CF08R  FIX  48.969333   2.139722     6601.0
10  RW08L   RW  48.995686   2.552744      704.0
11   LFPG  APT  49.009722   2.547778      392.0

In [14]:
name='YSSY-YMML 2022-03-23 QF405'
if routes.get(name):
    routes.delete(name)
    
route = dict(
    name=name,
    origin='YSSY',
    destination='YMML',
    path='WOL H65 RAZZI Q29 LIZZI'
)

with open(f'{name}.json', 'w') as output:
    json.dump(route, output, indent='\t')
    
result = routes.create(f'{name}.json')

df = pandas.DataFrame.from_dict(result['route']['points'])
df

      id type   latitude   longitude  elevation
0   YSSY  APT -33.946000  151.177111       21.0
1    WOL  NDB -34.557931  150.790992        NaN
2  RAZZI  FIX -35.054192  149.960353        NaN
3  TANTA  FIX -35.880675  148.531736        NaN
4  RUMIE  FIX -36.329817  147.728481        NaN
5  NABBA  FIX -36.705333  147.042053        NaN
6  BULLA  FIX -37.077803  146.347117        NaN
7  TAREX  FIX -37.305961  145.914194        NaN
8  LIZZI  FIX -37.450611  145.638000        NaN
9   YMML  APT -37.673333  144.843333      434.0